

/Report/*
!/Report/*.tex
!/Report/*.pdf

/Thesis\ description/*
!/Thesis\ description/*.tex
!/Thesis\ description/*.pdf

/Presentation/*
!/Presentation/*.tex
!/Presentation/*.pdf

/sme/src/testing/*
