

/Report/*
!/Report/*.tex
!/Report/*.pdf
!/Report/Slides/
/Report/Slides/*
!/Report/Slides/*.tex
!/Report/Slides/*.pdf

/Thesis\ description/*
!/Thesis\ description/*.tex
!/Thesis\ description/*.pdf

/Presentation/*
!/Presentation/*.tex
!/Presentation/*.pdf

/sme/src/testing/*

/Xilinx/*/*.cache
/Xilinx/*/*.runs

